#roomPanel {
  border-style: solid;
  width: 50%;
  margin: 0 auto;
  margin-top: 3%;
  padding-top: 2%;
}

#createMatch {
  margin-right: 1%;
}

#viewLobby {
  margin-left: 1%;
}

.sel1 {
  background-color: gray;
}

.sel0 {
  background-color: white;
}

button {
  font-size: 2em;
  padding: 1%;
}
