.chessSquare {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
}

.chessSquare:hover {
    background-color: red !important;
}

.piece {
    position: relative;
    width: 100%;
    height: 100%;
}
