#board {
    position: absolute;
    background-color: coral;
    top: 5%;
    right: 1%;
    width: 40%;
    display: inline-block;
}

#board:after {
    display: block;
    content: "";
    margin-top: 100%; /* initial ratio of 1:1*/
}
